[Desktop Entry]
Icon=text-html
Name=khudoykulov.2173@stud.asu.ru@home.mc.asu.ru\\\\stud-home\\homedir\\Международный институт экономики менеджмента и информационных\\2021\\217
Type=Link
URL[$e]=http://smb/khudoykulov.2173@stud.asu.ru@home.mc.asu.ru%5C%5Cstud-home%5Chomedir%5CМеждународный институт экономики менеджмента и информационных%5C2021%5C217
X-KDE-LastOpenedWith=yandex-browser
