[Desktop Entry]
Icon=image-png
Name=Screenshot_20241111_112346.png
Type=Link
URL[$e]=file:$HOME/Изображения/Screenshot_20241111_112346.png
X-KDE-LastOpenedWith=org.kde.gwenview
